/* ===== GLOBAL STYLE ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #222;
}

#wrapper {
    width: 960px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}

/* ===== HEADER ===== */
header {
    height: 200px;
    width: 960px;
    float: left;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

/* ===== NAVBAR ===== */
nav {
    height: 40px;
    width: 958px;
    float: left;
    background: #af1024;
    border: 1px solid #af1024;
    overflow: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
}

nav ul li a:hover {
    background: #54653C;
    border-radius: 5px;
}

/* ===== SUBMENU ===== */
nav ul li .submenu {
    display: none;
    position: absolute;
    background: #B0CE88;
    border: 1px solid #AAA;
    margin-top: 5px;
    border-radius: 5px;
}

nav ul li:hover .submenu {
    display: block;
}

/* ===== ARTICLE ===== */
article {
    width: 620px;
    float: left;
    padding: 10px;
    background: #ddd;
}

#single {
	align-items: flex-start;
    margin: 10px 0;
    border: 1px solid #DFDFDF;
    padding: 10px;
    font-size: 13px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	gap:15px;
}

#t-image {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
	border-radius: 10px 10px 10px 10px;
}

#more a {
    float: right;
    border: 0px solid #E43636;
    background: #E43636;
    padding: 3px 8px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

#more a:hover {
    background: #f8f8f8;
    color: #9d0f21;
	transform: scale(1.1);
	transition: all 0.5s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

/* ===== SIDEBAR ===== */
aside {
    width: 300px;
	height: 743px;
    float: right;
    background: #ddd;
    border-radius: 0px;
    padding: 10px;
}

.sidebar-box {
    margin-bottom: 5px;
    background: #af1024;
    border: 0px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
	transition: transform 0.2s ease, box-shadow 0.5s ease;
}

.sidebar-box h3 {
    background: linear-gradient(90deg, #f8f8f8, #f8f8f8);
    color: red;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.sidebar-box ul {
    list-style: none;
    padding-left: 10px;
    margin: 10px 0;
}

.sidebar-box li {
    margin-bottom: 8px;
}

.sidebar-box a {
    color: #f8f8f8;
    text-decoration: none;
    transition: 0.5s;
}

.sidebar-box a:hover {
	background: linear-gradient(90deg, ##9d0f21, #af1024);
	transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* ===== FOOTER ===== */
footer {
    background: #af1024;
    color: #F4EDE4;      
    border-radius: 0 0 10px 10px;
    margin-top: none;
    font-size: 14px;
    clear: both; 
    width: 100%;
    float: left; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
}

.footer-column h3 {
    color: black; 
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column a {
	font-size: 12px;
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
    color: #F38A30;
}

.footer-column p {
	font-size: 12px;
    margin: 0px;
    line-height: 1.6;
}

.footer-bottom {
    text-align: center;
    background: #9d0f21;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    font-size: 13px;
    color: #f8f8f8;
}

.btn-kembali {
  display: inline-block;
  margin-top: 10px;
  background: #af1024;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease; /* buat animasi halus */
}
.btn-kembali:hover {
  background: #d11b33; /* warna berubah sedikit lebih terang */
  transform: scale(1.1); /* sedikit membesar */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* muncul bayangan */
}
.btn-kembali:active {
  transform: scale(0.95); /* sedikit mengecil saat diklik */
}

/* ===== HALAMAN ARTICLE ===== */
.halaman-article #t-image {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 12px;
  background-size: cover;
  border-radius: 10px 10px 10px 10px;
  background-position: left;
}
.halaman-article #single {
  gap: 15px;
  margin: 35px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,1S);
}
.halaman-article h1 {
  margin-top: 20px 0;
  font-size: 25px;
  color: black;
  text-align: left;
}
.halaman-article p {
  text-align: left;
  font-size: 14px;
  color: #af1024;
}